@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  background-color: var(--colors-dark);
  width: 100%;
  height: 100%;
  font-family: "Aeroport Mono";
}

@media (min-width: 950px) {
  body {
    overflow: hidden;
  }
  experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    height: 100%;
    color: var(--colors-light);
  }
  experience .experience-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 1vh 0vh;
  }
  experience .experience-title * {
    margin: 1vh;
  }
  experience .experience-title .content {
    color: var(--colors-light-6);
    text-align: center;
  }
  experience .experience-title .toAchievements {
    display: flex;
    align-items: center;
    position: relative;
    color: var(--colors-light);
    -webkit-animation-name: intermitente;
            animation-name: intermitente;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  experience .swiper {
    overflow: hidden;
    width: 60%;
    height: 60%;
    margin: 1vh 0vh;
  }
  experience .swiper .swiper-wrapper {
    z-index: 1;
  }
  experience .swiper .swiper-wrapper :nth-child(even):is(.slider-item) {
    background-color: var(--colors-dark-2);
  }
  experience .swiper .swiper-wrapper :nth-child(odd):is(.slider-item) {
    background-color: var(--colors-dark-3);
  }
  experience .swiper .swiper-wrapper .slider-item {
    border-radius: 2vh;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0vh 1.5vh;
    height: 100%;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-image {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30%;
    max-width: 30%;
    height: 100%;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-image::after {
    content: "";
    border-right: 2px solid var(--colors-light-6);
    height: 60%;
    padding: 0vh 1.5vh;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-image .slider-image {
    width: 60%;
    max-width: 60%;
    border-radius: 2vh;
    border: 2px solid var(--colors-light-6);
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-header {
    font-family: "Helvetica";
    margin: 0.5vh 0vh;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-header .slider-item-content-date {
    font-size: 2vh;
    font-weight: 100;
    color: var(--colors-light-6);
    margin: 0;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-header .slider-item-content-title {
    margin: 1.25vh 0vh;
    font-size: 3.6vh;
    font-weight: 800;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-header .slider-item-content-title::after {
    content: "";
    display: block;
    border-bottom: 1px solid var(--colors-light-6);
    padding-bottom: 0.5vh;
    width: 15%;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-header .slider-item-content-title::before {
    content: "";
    display: block;
    border-top: 1px solid var(--colors-light-6);
    padding-top: 0.5vh;
    width: 20%;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-header .slider-item-content-subtitle {
    font-size: 2.2vh;
    font-weight: 100;
    color: var(--colors-light-6);
    margin: 0;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-footer {
    display: flex;
    flex-direction: column;
    max-height: 20%;
    padding-bottom: 1vh;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-footer .slider-item-content-footer-title {
    margin: 1vh 0vh;
    font-size: 2.4vh;
    font-weight: 800;
    color: var(--colors-light);
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-footer .slider-item-content-footer-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-footer .slider-item-content-footer-skills .slider-item-content-footer-skill {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5vh 1vh;
    border-radius: 2vh;
    background-color: var(--colors-dark-4);
    color: var(--colors-light-6);
    font-size: 2vh;
    font-weight: 100;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-footer .slider-item-content-footer-skills .slider-item-content-footer-skill:first-child {
    margin: 0.5vh 0.5vh 0.5vh 0vh;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-footer .slider-item-content-footer-skills .slider-item-content-footer-skill:not(:first-child):not(:last-child) {
    margin: 0.5vh 0.5vh;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-footer .slider-item-content-footer-skills .slider-item-content-footer-skill:last-child {
    margin: 0.5vh 0vh 0.5vh 0.5vh;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-footer .slider-item-content-footer-skills::-webkit-scrollbar {
    width: 4px;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-footer .slider-item-content-footer-skills::-webkit-scrollbar-track {
    background: var(--colors-dark-6);
    border-radius: 2vh;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-footer .slider-item-content-footer-skills::-webkit-scrollbar-thumb {
    background: var(--colors-light-4);
    border-radius: 2vh;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-text {
    overflow: auto;
    max-height: 70%;
    color: var(--colors-light-4);
    margin: 1vh 0vh;
    /* padding: 1vh 1vh 1vh 0vh; */
    padding-right: 1vh;
    font-size: 2.4vh;
    white-space: pre-line;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-text::after {
    content: "";
    display: block;
    border-bottom: 1px groove var(--colors-light-5);
    padding-top: 1vh;
    width: 10%;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-text::before {
    content: "";
    display: block;
    border-top: 1px groove var(--colors-light-5);
    padding-bottom: 1vh;
    width: 15%;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-text::-webkit-scrollbar {
    width: 4px;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-text::-webkit-scrollbar-track {
    background: var(--colors-dark-6);
    border-radius: 2vh;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-text::-webkit-scrollbar-thumb {
    background: var(--colors-light-4);
    border-radius: 2vh;
  }
}
@media (max-width: 950px) {
  experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    height: 100%;
    color: var(--colors-light);
  }
  experience .experience-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 1vh 0vh;
  }
  experience .experience-title .title {
    font-size: 3vh;
    font-weight: 800;
    color: var(--colors-light);
    text-align: center;
    margin: 0;
  }
  experience .experience-title .content {
    color: var(--colors-light-6);
    text-align: center;
    font-size: 1.8vh;
  }
  experience .experience-title .toAchievements {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    color: var(--colors-light);
    font-size: 1.6vh;
    -webkit-animation-name: intermitente;
            animation-name: intermitente;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  experience .swiper {
    overflow: hidden;
    width: 80%;
    height: 65%;
    margin: 1vh 0vh;
  }
  experience .swiper .swiper-wrapper {
    z-index: 1;
  }
  experience .swiper .swiper-wrapper :nth-child(even):is(.slider-item) {
    background-color: var(--colors-dark-2);
  }
  experience .swiper .swiper-wrapper :nth-child(odd):is(.slider-item) {
    background-color: var(--colors-dark-3);
  }
  experience .swiper .swiper-wrapper .slider-item {
    border-radius: 2vh;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content {
    display: flex;
    flex-direction: column;
    padding: 0vh 1.5vh;
    height: 100%;
    align-items: center;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 40%;
    max-width: 40%;
    height: 100%;
    padding-top: 1vh;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-image .slider-image {
    width: 80%;
    max-width: 80%;
    border-radius: 2vh;
    border: 2px solid var(--colors-light-6);
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-header {
    font-family: "Helvetica";
    margin: 1vh 0vh 0.5vh 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-header .slider-item-content-date {
    font-size: 1.6vh;
    font-weight: 100;
    color: var(--colors-light-6);
    margin: 0;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-header .slider-item-content-title {
    margin: 1vh 0vh;
    font-size: 3vh;
    font-weight: 800;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-header .slider-item-content-title::after {
    content: "";
    display: block;
    border-bottom: 1px solid var(--colors-light-6);
    padding-bottom: 0.5vh;
    width: 15%;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-header .slider-item-content-title::before {
    content: "";
    display: block;
    border-top: 1px solid var(--colors-light-6);
    padding-top: 0.5vh;
    width: 20%;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-header .slider-item-content-subtitle {
    font-size: 1.6vh;
    font-weight: 100;
    color: var(--colors-light-6);
    margin: 0;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-footer {
    display: flex;
    flex-direction: column;
    max-height: 20%;
    padding-bottom: 1vh;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-footer .slider-item-content-footer-title {
    margin: 1vh 0vh;
    font-size: 2vh;
    font-weight: 800;
    color: var(--colors-light);
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-footer .slider-item-content-footer-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-footer .slider-item-content-footer-skills .slider-item-content-footer-skill {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5vh 1vh;
    border-radius: 2vh;
    background-color: var(--colors-dark-4);
    color: var(--colors-light-6);
    font-size: 1.6vh;
    font-weight: 100;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-footer .slider-item-content-footer-skills .slider-item-content-footer-skill:first-child {
    margin: 0.5vh 0.5vh 0.5vh 0vh;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-footer .slider-item-content-footer-skills .slider-item-content-footer-skill:not(:first-child):not(:last-child) {
    margin: 0.5vh 0.5vh;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-footer .slider-item-content-footer-skills .slider-item-content-footer-skill:last-child {
    margin: 0.5vh 0vh 0.5vh 0.5vh;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-footer .slider-item-content-footer-skills::-webkit-scrollbar {
    width: 2px;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-footer .slider-item-content-footer-skills::-webkit-scrollbar-track {
    background: var(--colors-dark-6);
    border-radius: 2vh;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-footer .slider-item-content-footer-skills::-webkit-scrollbar-thumb {
    background: var(--colors-light-4);
    border-radius: 2vh;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-text {
    overflow: auto;
    max-height: 45%;
    color: var(--colors-light-4);
    margin: 1vh 0vh;
    /* padding: 1vh 1vh 1vh 0vh; */
    padding-right: 1vh;
    font-size: 1.8vh;
    white-space: pre-line;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-text::-webkit-scrollbar {
    width: 2px;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-text::-webkit-scrollbar-track {
    background: var(--colors-dark-6);
    border-radius: 2vh;
  }
  experience .swiper .swiper-wrapper .slider-item .swiper-item-content .slider-item-content .slider-item-content-text::-webkit-scrollbar-thumb {
    background: var(--colors-light-4);
    border-radius: 2vh;
  }
}
@-webkit-keyframes intermitente {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes intermitente {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=experience.css.map */